[Desktop Entry]
Version=1.0
Categories=GNOME;Audio;Music;Player;AudioVideo;
Icon=spotify-client
DesktopId=spotify.desktop
Name=Spotify
Comment=GNOME Shell search provider for Spotify
Terminal=false
Type=Application
